body {
  margin: 0;         /* 余白の削除 */
  padding: 0;        /* 余白の削除 */
  width:100%;
  height:100%;
}

.global-header {
  position: fixed;            /* ヘッダーの固定 */
  /*top: 0px;                   !* 位置(上0px) *!*/
  /*left: 0px;                  !* 位置(右0px) *!*/
  width: 100%;                /* 横幅100%　*/
  height: 60px;              /* 縦幅140px */
}

.main-content {
  /*padding-top: 0px!important;*/
  padding:60px 0 0 0!important;
}

.card-count {
  width: 30px;
  text-align: center;
}

.land-count {
  width: 30px;
  text-align: center;
}

.deck-list-row {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c0c2c5;
}

.mgtp-20  {
  margin-top: 20px;
}

.mgbt-20  {
  margin-bottom: 20px;
}

.left {
  float: left;
}

/*.image-div {*/
  /*position: relative;*/
  /*height: 25px;*/
  /*overflow: hidden;*/
/*}*/
/*.image-div img {*/
/*-webkit-transform: translate(0%, -10%);*/
/*!*-webkit-transform: translate(0px, -3px);*!*/
/*max-width: 100%;*/
/*}*/

.image-col {
  height: 30px;
  padding-left: 0px!important;
}

.image-div {
  margin-top: 1px;
  position: relative;
  -webkit-transform: scale(0.2);
}
.image-div img {
  position:absolute;
  clip: rect(35px, 200px, 175px, 20px);
  margin-left: -20px;
  margin-top: -35px;

}

.img-mana-symbol {
  width: 15%;
}

.div-card-name {
  font-size: small;
}

.fs-medium {
  font-size: medium;
}

.fs-small {
  font-size: small!important;
}

.fs-xs {
  font-size: x-small;
}

.thin-input {
  height: 30px;
}

/* multipleに関する記述 */
.select-multiple .checkbox {
  float: left;
  margin-top: 0px;
  margin-right: 5px;
  margin-bottom: 0px;

}
.select-multiple .checkbox label{
  padding-left: 0px!important;
  text-align: center;

}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.list-card {
  margin-bottom: 10px;
}
.list-footer {
  height: 20px;
}
.list-footer hr {
  margin-bottom: 0px!important;
}

.search-h4 {
  margin: 0px 0px 0px;
}
